<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>andypymont.co.uk</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <div class="page-header">
        <p><h1>andypymont.co.uk</h1></p>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Fantasy Sports</div>
        <div class="panel-body">
          <p>Welcome to the home page for web applications I have developed for helping with <a href="http://en.wikipedia.org/wiki/Fantasy_sports">fantasy sport</a> games.</p>

          <p>If you have an interest in adapting these or using them for your own fantasy leagues, please <a href="mailto:andypymont@gmail.com">contact me</a>.</p>

        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <div class="thumbnail">
            <a href="{{ url_drafts }}"><img src="{{ url_for('static', filename='images/thumb-drafts.png') }}"></a>
            <div class="caption"><p><h4>Fantasy Draft Board</h4></p>
              <p>Manage fantasy league drafts. Notifies players when it is their time to pick, manages the list of available players, and allows conditional pick preferences to be specified in advance so picks can happen whilst users are offline, taking into account their previously-entered preferences for that pick.</p>
              <p>See an example draft <a href="{{ url_draft }}">here</a>.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="thumbnail">
            <a href="{{ url_fantasypl }}"><img src="{{ url_for('static', filename='images/thumb-fantasypl.png') }}"></a>
            <div class="caption"><p><h4>Fantasy Premier League</h4></p>
              <p>Manages owners' teams and player scoring for my Fantasy Premier League game. (This is a 'unique teams' / 'one copy of each player' league in the style of US sports fantasy leagues.) Includes management of the weekly 'waiver wire' where free agent players are given preferentially to players lower in the league table.</p>
              <p>See it in action <a href="{{ url_fantasypl }}">here.</a><p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div id="footer">
      <div class="container">
        <hr>
        <p class="text-right">Copyright &copy;2014 Andy Pymont</p>
      </div>
    </div>

    <script src="//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>